<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Example (Fixtures).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Example (KIF).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Example (Safe).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Example.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PlayHaven.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Unity3D.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA12ABD21365DBB700CB2F24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA14C6601342604000E228E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA62D65A1579925300B31E62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA86C7BD14D9E75600CB1551</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA9AB61E14A3B0AA00079704</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAB6A37814EED62D00EAC692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAF168321534E2DE006B6993</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAF168691534E34F006B6993</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAF168A31534E59C006B6993</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
